
if SHIELD_TORABO_TSUKI_LP_LEFT || SHIELD_TORABO_TSUKI_LP_RIGHT

config ZMK_KEYBOARD_NAME
    default "torabo-tsuki"

config ZMK_SPLIT
    default y

config SPI
    default y

config INPUT
    default y

config ZMK_MOUSE
    default y
 # 💡 左側のビルド（SHIELD_TORABO_TSUKI_LP_LEFT）の時だけ、スクロール機能をONにするマクロ
if SHIELD_TORABO_TSUKI_LP_LEFT
config TORABO_TSUKI_LP_SCROLL_ENABLE
    bool
    default y
endif
endif
