#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&pointing_listener {
    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};
/* ========================================================================== */
/* 💡 右側トラックボール：特定レイヤーでのスクロール変換設定                  */
/* ========================================================================== */

/* 通常のマウス移動ルールをレイヤー0, 1, 2の時だけに制限する */
&trackball_listener_normal {
    layers = <0 1 2>; 
};

/* トラックボールに、レイヤー3の時のスクロール設定を追加する */
&trackball_listener {
    scroll_layer {
        compatible = "zmk,input-processor-layer-overrides";
        layers = <3>; /* 👈 3番のレイヤー（SCROLLレイヤー）にいるときだけ発動 */
        input-processors = <&zip_xy_to_scroll_mapper>;
    };
};
/* ========================================================================== */
